body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container-wrapper {
    display: grid;
    grid-template-rows: 0.2fr 0.1fr 0.3fr 1fr;
    grid-template-columns: 0.3fr 1fr;
}
.header {
    background-color: gainsboro;
    grid-column: 1/3;
}
.header h2 {
    font-family: 'Bangers', cursive;
}
.sub-header {
    background-color: black;
    grid-column: 1/3;
}
.sub-header ul {
    margin: 0;
    padding: 0 0 0 20px;
}
.sub-header ul li {
    float: left;
    width: 110px;
    padding: 20px 0 20px 10px;
    font-size: 13px;
}
.sub-header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.username {
    background-color: rgba(226, 223, 6, 0.952);
    padding: 20px;
    grid-column: 1/3;
    color: white;
}
.profile {
    background-color: #fcfcfc;
    padding: 10px;
    grid-column: 1/2;
}
.content {
    background-color: white;
    grid-column: 2/3;
}
.content-section {
    background-color: red;
    margin-left: 80px;
}
.list-two {
    margin-left: -40px;
}
.list-two ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-two ul li {
    float: left;
    width: 125px;
    height: 40px;
    padding-top: 10px;
    border-top: 4px solid #fff;
    text-align: center;
}
.list-two ul li a {
    text-decoration: none;
    font-weight: bold;
}
.list-two ul li:hover {
    border-top: 4px solid #000;
}
/* .list-two ul li a:hover {
    border-top: 4px solid #000;
} */
.list-two ul li a:focus {
    color: white;
}